<div class="dialogWindow">
  <h2 mat-dialog-title>Nuevo estudiante</h2>
  <mat-dialog-content>
    <form [formGroup]="studentForm">

      <!--campo de nombre-->
      <mat-form-field class="w-full mb-3">
        <mat-label>Nombre(s)</mat-label>
        <input formControlName="nombre" matInput required/>
        <mat-error *ngIf="studentForm.controls['nombre'].hasError('required') && studentForm.controls['nombre'].touched">Campo requerido</mat-error>
        <mat-error *ngIf="studentForm.controls['nombre'].hasError('minlength') && studentForm.controls['nombre'].touched">Debe tener al menos 3 caracteres.</mat-error>
      </mat-form-field>
      
      <!--campo de apellidos-->
      <mat-form-field class="w-full mb-3">
        <mat-label>Apellido(s)</mat-label>
        <input formControlName="apellidos" matInput required/>
        <mat-error *ngIf="studentForm.controls['apellidos'].hasError('required') && studentForm.controls['apellidos'].touched">Campo requerido</mat-error>
        <mat-error *ngIf="studentForm.controls['apellidos'].hasError('minlength') && studentForm.controls['apellidos'].touched">Debe tener al menos 3 caracteres.</mat-error>
      </mat-form-field>
      
      <!--Selector de fecha nacimiento-->
      <mat-form-field class="w-full mb-3">
        <mat-label>Fecha de nacimiento</mat-label>
        <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="studentForm.controls['fechaNacimiento'].hasError('required') && studentForm.controls['fechaNacimiento'].touched">Campo requerido</mat-error>
      </mat-form-field>

      <!--campo de celular-->
      <mat-form-field class="w-full mb-3">
        <mat-label>Celular</mat-label>
        <input formControlName="celular" matInput required/>
        <mat-error *ngIf="studentForm.controls['celular'].hasError('required') && studentForm.controls['celular'].touched">Campo requerido</mat-error>
        <mat-error *ngIf="studentForm.controls['celular'].hasError('pattern') && studentForm.controls['celular'].touched">Celular debe tener al menos 10 dígitos numericos.</mat-error>
      </mat-form-field>

      <!--campo de direccion-->
      <mat-form-field class="w-full mb-3">
        <mat-label>Direccion</mat-label>
        <input formControlName="direccion" matInput required/>
        <mat-error *ngIf="studentForm.controls['direccion'].hasError('required') && studentForm.controls['direccion'].touched">Campo requerido</mat-error>
        <mat-error *ngIf="studentForm.controls['direccion'].hasError('maxlength') && studentForm.controls['direccion'].touched">No puede tener más de 50 caracteres.</mat-error>
      </mat-form-field>

      <!--campo de curso-->
      <mat-form-field class="w-full mb-3">
        <mat-label>Curso</mat-label>
        <input formControlName="curso" matInput required/>
        <mat-error *ngIf="studentForm.controls['curso'].hasError('required') && studentForm.controls['curso'].touched">Campo requerido</mat-error>
      </mat-form-field>

    </form> 
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-flat-button (click)="onCancel()">Cancelar</button>
      <button (click)="onSave()" mat-flat-button>Guardar</button>
  </mat-dialog-actions>
</div>