.example-container {
  width: 100%;
  height: 100vh;
  background-color: #FBF6E2;
}

.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
  background-color: #E68369;
  width: 250px;
}

.dashboardTitle {
  margin-left: 35px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-5 {
  padding: 1.25rem;
}

.d-flex {
  display: flex;
}

.align-items-start {
  align-items: flex-start;
}

.justify-content-start {
  justify-content: flex-start;
}

main {
  flex-grow: 1;
}

.activeLink {
  button{
    background-color: #006a6a;
    color: #FBF6E2;
  }
}