<mat-drawer-container class="example-container" autosize>
  <!--Inicio del SideBar-->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list >
      <a mat-list-item routerLink="home" routerLinkActive="activeLink"><button mat-raised-button class="w-full">Inicio</button></a>
      <a mat-list-item routerLink="students" routerLinkActive="activeLink"><button mat-raised-button class="w-full">Alumnos</button></a>
      <a mat-list-item routerLink="courses" routerLinkActive="activeLink"><button mat-raised-button class="w-full">Cursos</button></a>
      <a *ngIf="(autenticatedUser | async)?.role === 'ADMIN'" mat-list-item routerLink="inscriptions" routerLinkActive="activeLink"><button mat-raised-button class="w-full">Inscripciones</button></a>
      <a mat-list-item routerLink="/auth" (click)= logout()  routerLinkActivate="activeLink"><button mat-raised-button class="w-full">Cerrar Sesión</button></a>
    </mat-nav-list>
  </mat-drawer>
  <!--Fin del SideBar-->

  <!--Principal Content-->
  <div class="example-sidenav-content">
    <!--Inicio del ToolBar-->
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span TextSizeDirective class="dashboardTitle">Panel de control educativo Version 3.0.=>(Tercera entrega) By Gonzalez</span>
      <span class="example-spacer"></span>
      <div class="actualRole text-sm font-medium">
        Perfil actual: {{ (autenticatedUser | async )?.role }}
      </div>
    </mat-toolbar>
    <!--Fin del ToolBar-->

    <!--Students, courses o Inscriptions-->
    <main class="p-5 d-flex align-items-start justify-content-start">
      <div class="dashBoardComps w-full">
        <router-outlet />
      </div>
    </main>
    <!--Fin de Courses-->
  </div>
</mat-drawer-container>