<mat-drawer-container class="example-container" autosize>
  <!--Inicio del SideBar-->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <ng-container *ngIf="showFiller">
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    </ng-container>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Desplegar opciones      
    </button>
  </mat-drawer>
  <!--Fin del SideBar-->

  <!--Principal Content-->
  <div class="example-sidenav-content">
    <!--Inicio del ToolBar-->
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="dashboardTitle text-3xl">Panel de control educativo Version 1.0. - By Gonzalez</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <!--Fin del ToolBar-->

    <!--Courses-->
    <main class="p-5 d-flex align-items-start justify-content-start">
      <app-courses></app-courses>
    </main>
    <!--Fin de Courses-->
  </div>
</mat-drawer-container>