<div class="home-container">
  <mat-card class="welcomeHome-card">
    <mat-card-header>
      <mat-card-title>Bienvenido al Sistema de Control Escolar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="m-3" *ngIf="(autenticatedUser | async)?.role === 'ADMIN'">
        Aquí puedes gestionar estudiantes, cursos, inscripciones, ver estadísticas de estos (próximamente) y más.
      </p>
      <p class="m-3" *ngIf="(autenticatedUser | async)?.role === 'USER'">
        Aquí puedes consultar el detalle de los cursos disponibles y el listado de estudiantes inscritos en estos.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="homeLinks-section">
    <div class="homeLink-card" (click)="navigateTo('students')">
      <mat-card-header>
        <mat-card-title>Estudiantes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona y consulta la información de los estudiantes</p>
      </mat-card-content>
    </div>

    <div class="homeLink-card" (click)="navigateTo('courses')">
      <mat-card-header>
        <mat-card-title>Cursos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona y consulta los cursos ofrecidos</p>
      </mat-card-content>
    </div>
    
    <div *ngIf="(autenticatedUser | async)?.role === 'ADMIN'" class="homeLink-card" (click)="navigateTo('inscriptions')">
      <mat-card-header>
        <mat-card-title>Inscripciones</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona y consulta las inscripciones de los estudiantes</p>
      </mat-card-content>
    </div>
  </div>
</div>
