<button (click)="openDialog()" class="flex: 0 1 auto;" mat-flat-button>
    <mat-icon>add</mat-icon>Nuevo curso
</button>

@if (loadingInProcess){
    <mat-progress-bar class="my-5" mode="indeterminate"></mat-progress-bar>
}@else {
    <table mat-table [dataSource]="coursesDataSource" class="mat-elevation-z8" id="coursesTable">
        
        <!-- Id Column -->
        <ng-container matColumnDef="idCurso">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.idCurso}} </td>
        </ng-container>

        <!-- courseName Column -->
        <ng-container matColumnDef="nombreCurso">
            <th mat-header-cell *matHeaderCellDef> Nombre completo</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreCurso}} </td>
        </ng-container>
        
        <!-- fecha Inicio Curso Column -->
        <ng-container matColumnDef="fechaInicioCurso">
            <th mat-header-cell *matHeaderCellDef> Fecha de inicio de curso </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaInicioCurso | date: 'dd/MM/YYYY'}} </td>
        </ng-container>
        
        <!-- fecha final Curso Column -->
        <ng-container matColumnDef="fechaFinCurso">
            <th mat-header-cell *matHeaderCellDef> Fecha final de curso </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaFinCurso | date: 'dd/MM/YYYY'}} </td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editCourse(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteCourseById(element.idCurso)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
}