<div *ngIf="course$ | async as course; else loading">
    <h2>Detalles del Curso</h2>
    <p><strong>ID del Curso:</strong> {{ course.id }}</p>
    <p><strong>Nombre del Curso:</strong> {{ course.nombreCurso}}</p>
    <p><strong>Fecha de Inicio:</strong> {{ course.fechaInicioCurso | date: 'MM/dd/yyyy' }}</p>
    <p><strong>Fecha de Finalización:</strong> {{ course.fechaFinCurso | date: 'MM/dd/yyyy' }}</p>

    <!-- //Añadire mas adelante una tabla con los Estudiantes inscritos al curso -->
    <div class="IncribedStudentsTable">
        <p>Estudiantes inscritos:</p>
    </div>

</div>
  
<ng-template #loading>
    <p>Cargando detalles del curso...</p>
</ng-template>
  