
@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$cyan-palette,
  ),
  typography: (
    brand-family: 'open sans',
    bold-weight: 1000
  ),
  density: (
    scale: -1
  )
));

html {
  @include mat.all-component-themes($my-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "primeflex/primeflex.css";